@model IEnumerable<Prueba_Yefrin.Models.Empleado>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombres)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellidos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DocumentoCui)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaIngreso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SalarioActual)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaUltimoAumento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaBaja)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Puesto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Jerarquia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreadoEn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActualizadoEn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Departamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UsuarioCreacion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombres)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellidos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DocumentoCui)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaIngreso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SalarioActual)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaUltimoAumento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaBaja)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Puesto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Jerarquia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreadoEn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActualizadoEn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Departamento.IdDepartamento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsuarioCreacion.IdUsuario)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdEmpleado">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdEmpleado">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdEmpleado">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
