@model IEnumerable<Prueba_Yefrin.Models.HistorialSalario>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SalarioAnterior)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SalarioNuevo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Motivo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaCambio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreadoEn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Empleado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UsuarioRegistro)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SalarioAnterior)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SalarioNuevo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Motivo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaCambio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreadoEn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Empleado.IdEmpleado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsuarioRegistro.IdUsuario)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdHistorial">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdHistorial">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdHistorial">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
