@model Prueba_Yefrin.Models.Departamento

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Departamento</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Presupuesto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Presupuesto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreadoEn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreadoEn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ActualizadoEn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActualizadoEn)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdDepartamento">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
